#main {
  height: 720px;
  z-index: -1
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#overlay-content {
  width: 500px;
  height: 80px;
  background: skyblue;
  font-size: 30px;
  color: #f1f1f1;
  z-index: 1002;
  position: absolute;
  opacity: 1;
}

#map-form {
  width: 450px;
  height: 550px;
  background-color: Sienna;
  /*   box-shadow: 7px 7px darkkhaki, 12px 12px khaki, 17px 17px darkkhaki; */
  z-index: 1002;
  position: absolute;
  text-align: center;
  opacity: 1;
}

form {
  margin-left: 15%;
  margin-top: -2%;
  width: 70%;
  height: 80%;
  text-align: center;
  font-size: 30px;
  background-color: khaki;
  z-index: -1;
}

input {
  font-size: 20px;
  margin: auto;
}

#circle {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  background-color: grey;
  z-index: 1002;
}

#line {
  width: 360px;
  height: 15px;
  margin: auto;
  background-color: grey;
  z-index: 1002;
}

input {
  background: none;
  border: none;
  border-bottom: 2px black solid;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

/*.cal td {
  padding: 0 2px;
  line-height: 100%;
}
